[submodule "examples/ofExamples"]
	path = examples/ofExamples
	url = https://github.com/ofnode/ofExamples
[submodule "examples/res15-opengl"]
	path = examples/res15-opengl
	url = https://github.com/ofnode/res15-opengl
[submodule "examples/openFrameworksDemos"]
	path = examples/openFrameworksDemos
	url = https://github.com/ofnode/openFrameworksDemos
[submodule "examples/OF_GenerativeTypography"]
	path = examples/OF_GenerativeTypography
	url = https://github.com/ofnode/OF_GenerativeTypography
[submodule "examples/addons/ofxPointInMesh"]
	path = examples/addons/ofxPointInMesh
	url = https://github.com/ofnode/ofxPointInMesh
[submodule "examples/addons/ofxVoro"]
	path = examples/addons/ofxVoro
	url = https://github.com/ofnode/ofxVoro
[submodule "examples/addons/ofxVoronoi"]
	path = examples/addons/ofxVoronoi
	url = https://github.com/ofnode/ofxVoronoi
[submodule "examples/ofDemystified"]
	path = examples/ofDemystified
	url = https://github.com/ofnode/ofDemystified
[submodule "examples/BeyondInteraction"]
	path = examples/BeyondInteraction
	url = https://github.com/ofnode/BeyondInteraction
[submodule "examples/NoiseWorkshop"]
	path = examples/NoiseWorkshop
	url = https://github.com/ofnode/NoiseWorkshop
[submodule "examples/addons/ofxAutoReloadedShader"]
	path = examples/addons/ofxAutoReloadedShader
	url = https://github.com/ofnode/ofxAutoReloadedShader
[submodule "examples/addons/ofxCv"]
	path = examples/addons/ofxCv
	url = https://github.com/ofnode/ofxCv
[submodule "src/glm"]
	path = src/glm
	url = https://github.com/g-truc/glm
[submodule "src/FreeImage"]
	path = src/FreeImage
	url = https://github.com/ofnode/FreeImage
	branch = 3.17.0-header-changes
